/* ---------------------------------- */
/* Common Styles for ODBC Agent Pages */
/* ---------------------------------- */

// Common styles for the ODBC Menus, Autofill Profiles, and Dependent Menu Sets

.mappedListing{
  padding:10px;margin:0 0 1em 0;background:#daf1ff;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.mappedListingLabel{font-weight:bold;}


#assignedScanBtns a{
  background:url("../images/admin/mfd_button_small.svg") 0 50% no-repeat;
  background-size: 10px 10px;
  display:inline-block;
  padding-left:15px;
  line-height: 20px;
}

#assignedDMS a{
  background:url("../images/admin/dbDependentMenu.png") 0 50% no-repeat;
  display:inline-block;
  padding-left:21px;
  line-height: 20px;
}

.mappedListing > div:first-child{margin-bottom:0.5em}
.mappedListingTypeLabel{font-weight: normal;color:#666;}